.App {
  text-align: center;
}

#root{
  background-image: url("./img/chip-bg.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 135vh;
  width:100%;
}

/* Header Component ================================================== */

.nav-bar {
  text-align: center;
  margin-bottom: 2.5rem;
}

#brand {
  font-weight: bolder;
  font-size: 34px;
}

.link {
  margin-left: 1rem;
  margin-top: .5rem;
}

#logout {
  margin-left: .5rem;
}

#login {
  margin-left: .5rem;
}

/* Footer Component ================================================== */

#footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -300px;
  color: rgb(224, 221, 221, 0.733);
}

/* Blackjack Component ================================================== */

#blackjackbody {
  color: white;
}

#spacer {
  height: 100px;
}

.ph-card{
  margin-left: .75rem;
}

.btn-secondary, .btn-success, .btn-danger{
margin-right: 1rem;
margin-top: 2rem;
margin-bottom: 2rem;
}

.btn-primary {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

form{
  margin: auto;
  width: 18%;
}

form .form-control {
  width: 50%;
  margin:auto;
  text-align: center;
}

.form-label {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1rem;
}

/* Roulette Component ================================================== */

.roulette-h2{
  margin-top: 2rem;
  width: 50%;
  margin-left: 37rem;
}

.alert-warning{
  font-weight: bold;
}

.alert-success{
  font-weight: bold;
}

#roulette-game {
  display: flex;
  justify-content: flex-start;
  
}

#roulette-buttons {
  margin-left: 8rem;
}

#top-buttons {
  height: 5rem;
}

#wheel {
margin-top: 7rem;
margin-left: -5rem;
margin-right: 5rem;
}

/* Horse Race Component ================================================== */

#horse-path {
  margin: 2rem;
  padding: 1rem;
  background-image: url(./img/grass.jpg);
  background-size:cover;
}
#horse0{
  background-color: rgba(97, 9, 97, 0.402);
}

#horse1 {
  background-color: rgba(39, 23, 103, 0.326);
}

#horse2 {
  background-color: rgba(133, 99, 11, 0.326);
}

#horse3 {
  background-color: rgba(188, 55, 55, 0.326);
}

#radio0 {
  background-color: rgba(190, 24, 190, 0.884);
  color: white;
}

#radio1 {
  background-color: rgba(38, 55, 163, 0.884);
  color: white;
}

#radio2 {
  background-color: rgb(159, 167, 56);
  color: white;
}

#radio3 {
  background-color: rgba(196, 38, 38, 0.842);
  color: white;
}

#horse-form {
  padding: 1rem;
  background-color: rgb(86, 161, 161);
  border: 1px solid rgb(68, 135, 135);
  border-radius: 10%;
}

#horse-win {
  color: navy;
}

/* Profile Component ================================================== */

.list-group{
  margin: 2rem 30%;
  text-align: center;
}

.list-group-item {
  background-color: aquamarine;
}

#transactions-container {
  margin-top: 2rem;
  background-color: rgba(43, 137, 73, 0.72);
  padding-top: 2rem;
  padding-left: 7rem;
  display: flex;
  justify-content: center;
}

#transaction-card {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

/* About Component ================================================== */

.headshot{
  height: 100px;
  margin-right: 2rem;
  margin-left: 5rem;
}

.accordion {
  margin-top: 4rem;
  width: 60%;
}

#about {
  display: block;
  margin-top: 6rem;
  margin-left: 10.2rem;
  width: 32rem;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(224, 221, 221, 0.733);
}

#about-card {
  width: 22rem;
  height: 27rem;
  margin-left: 5rem;
  margin-top: 4rem;
}

#about-title {
  margin-top: 2rem;
  font-size: 1.6rem;
}
#about-body {
  font-style: italic;
  font-size: 1.2rem;
}

#about-content{
  display: flex;
  justify-content: center;
}

/* PleaseLogin Component ================================================= */

#h4{
  color:rgba(34, 123, 41, 0.82);
  width: 24rem;
  height: 24rem;
  text-align: center;
  border: 9px dashed rgb(224, 221, 221, 0.733);
  border-radius: 115%;
  padding: 9rem 3.5rem;
  background-color: rgba(224, 221, 221, 0.733);
  margin-left: 40%;
  margin-top: 10rem;
  
}
