.App {
  text-align: center;
}

#footer-div {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

#nav-bar {
  text-align: center;
  
  margin-bottom: 2.5rem;
}

#brand {
  font-weight: bolder;
}

.nav-link {
  margin-right: 1.5rem;
  
}

#spacer {
  height: 100px;
}

.ph-card{
  margin-left: .75rem;
}

.btn-secondary, .btn-success, .btn-danger{
margin-right: 1rem;
margin-top: 2rem;
margin-bottom: 2rem;
}

.btn-primary {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

form{
  margin: auto;
  width: 18%;
}

form .form-control {
  width: 50%;
  margin:auto;
  text-align: center;
}

.form-label {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1rem;
}